@use '../util' as *;

.grid {
    margin-bottom: rem(142);

    &__inner {
        display: grid;
        gap: rem(70);
    }

    &--lg &__inner {
        grid-template: rem(380) rem(300) rem(180) rem(50) rem(180) repeat(2, rem(300)) / repeat(4, 1fr);
    }

    &--sm &__inner {
        grid-template: rem(380) / repeat(3, 1fr);
    }
}

.item {
    border: rem(1) solid var(--gray-dark);

    &--lg,
    &--high {
        grid-row: span 2;
    }

    &--lg {
        grid-column: span 2;
    }
}  
