@use 'globals';
@use 'components';
@font-face {
    font-family: var(--font-title);
    src: url('../fonts/Cyberthrone.woff2') format('woff2'), url('../fonts/Cyberthrone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
