@use '../util' as *;

.wrapper {
	height: 100vw;

	@include breakpoint(medium) {
		transform: rotate(-90deg) translateX(-100vh);
		transform-origin: top left;
		overflow-x: scroll;

		&::-webkit-scrollbar { display: none }

		&__inner {
			display: flex;
			transform: rotate(90deg) translateY(-100vh);
			transform-origin: top left;
		} 
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	min-width: 100%;
	overflow: hidden;

	@include breakpoint(medium) {
		flex-direction: row;
		align-items: center;
	}

	&__portfolio {
		@include breakpoint(medium) { max-width: rem(1140) }
	}
}

.section__scroll { overflow: scroll;

	&::-webkit-scrollbar { display: none }
}

.slide {
	display: flex;
	flex-direction: column;
	background-image: url('../images/background.webp');
	height: 100vh;

	&.one {
		align-items: center;
		justify-content: center;
	}

	&.two {
		align-items: flex-end;
		background-image: none;
		background-color: var(--light-gray);
		box-shadow: rem(-140) rem(-40) rem(40) var(--dark-gray);
		height: 200vh;
	}

	&::before {
		content: '';
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, .6);
	}
}

.hidden {
	position: relative;
	left: -100%;
}