@use '../util' as *;

.header {

    &__top,
    &__bottom nav {
        display: flex;
        align-items: center;
        min-height: rem(45);
    }

    &__top {
        justify-content: space-between;
        min-height: rem(100);

        button {
            border-radius: 0 rem(5) rem(5) 0;
        }
    }

    &__bottom {
        background-color: var(--gray-light);

        nav *:not(:last-child) {
            margin-right: rem(30);
        }
    }

    &__buttons {
        display: flex;
        align-items: center;

        *:not(:last-child) {
            margin-right: rem(25);
        }
	}
}

.popup {
    position: absolute;
    z-index: 2;
    min-width: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;

    &:target {
        visibility: visible;
        opacity: 1;
    }

    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: rem(500);
        border-radius: rem(5);
        padding: rem(60) rem(50) rem(25);
        border: rem(1) solid var(--text);
        transform: translate(-50%, -50%);
        background-color: #fff;

        *:not(:last-child, .division) {
            margin-bottom: rem(20);
        }

        .close {
            position: absolute;
            top: rem(15);
            right: rem(15);
        }

        .division {
            margin: rem(40) 0;
            position: relative;
            max-height: rem(1);
            background-color: rgba(117, 117, 117, .1);

            &::after {
                content: 'or';
                padding: rem(5);
                background-color: #fff;
                position: relative;
                top: rem(-10);
            }

            &:nth-child(6) {
                margin: rem(40) rem(-50);

                &::after {
                    opacity: 0;
                }
            }
        }
    }

    &__help {
        display: inline-flex;
        justify-content: space-between;
        min-width: 100%;
    }

    &__buttons {
        font-size: 0;

        *:not(:last-child) {
            margin-right: rem(18);
        }
    }

    &__remember {

        & input {
            display: none;
        }

        & label {
            position: relative;
            cursor: pointer;
        }

        & label:before {
            content: '';
            padding: rem(8);
            margin-right: rem(5);
            border-radius: rem(5);
            display: inline-block;
            border: rem(1) solid var(--gray-dark);
            vertical-align: middle;
            position: relative;
        }

        & input:checked + label:after {
            content: '';
            min-width: rem(6);
            min-height: rem(10);
            transform: rotate(45deg);
            border: rem(1) solid var(--brand);
            border-width: 0 rem(2) rem(2) 0;
            position: absolute;
            top: rem(5);
            left: rem(6);
        }
    }

    &__social {
        font-size: 0;

        p {
            font-size: rem(14);
            color: var(--black);
        }

        a {
            padding: rem(15);
            border-radius: 50%;
            min-width: rem(50);
            min-height: rem(50);
            display: inline-block;
            margin-right: rem(30);
            background-color: var(--facebook);

            &:nth-child(3) {
                background-color: var(--orange);

                img {
                    max-width: rem(20);
                    min-height: rem(20);
                }
            }

            &:nth-child(4) {
                background-color: var(--pinterest);
                margin-right: 0;
            }

            img {
                min-width: rem(15);
                max-height: rem(17.5);
                transform: scale(1.5);
            }
        }
    }

    &__login {
        font-size: rem(14);

        .button {
            color: var(--brand);
            margin-left: rem(20);
            border-color: var(--brand);
        }
    }
}
