@use '../util' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    padding: 0 rem(10);
    max-width: rem(1300);
    margin: 0 auto;

    @include breakpoint(large) {
        padding: 0;
        transform: translate(0, 0);
    }
}
