@use '../util' as *;

.header {
    background-color: var(--white);
    position: relative;
    z-index: 1;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: rem(80);
    }

    &__block {
        min-width: rem(110);

        &:first-child {
            display: none;

            @include breakpoint(large) {
                display: block;
            }
        }

        &:last-child {
            text-align: right;
        }
    }

    &__link,
    &__link:hover {
        text-decoration: none;
        color: var(--black);
        float: left;

        &:not(:last-child) {
            margin-right: rem(30);
        }
    }

    &__logo {
        font-size: 0;
    }
}
