:root {
    --facebook: hsl(221, 44%, 41%);
    --brand: hsl(88, 50%, 53%);
    --orange: hsl(12, 81%, 57%);
    --pinterest: hsl(358, 73%, 46%);

    --white: hsl(0, 0%, 100%);
    --gray-light: hsl(0, 0%, 96%);
    --gray: hsl(0, 0%, 88%);
    --gray-dark: hsl(0, 0%, 46%);
    --black: hsl(60, 2%, 11%);
}
