@use '../util' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    padding: 0 rem(10);
    max-width: rem(1300);
    margin: 0 auto;

    @include breakpoint(large) {
        padding: 0;
        transform: translate(0, 0);
    }
}

.popup {
    position: fixed;
    z-index: 2;
    min-width: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;

    &:target {
        visibility: visible;
        opacity: 1;
    }

    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: rem(500);
        border-radius: rem(5);
        padding: rem(60) rem(50) rem(25);
        border: rem(1) solid var(--gray-dark);
        transform: translate(-50%, -50%);
        background-color: #fff;

        *:not(.popup__remember, :last-child) {
            margin-bottom: rem(20);
        }

        .close {
            position: absolute;
            top: rem(15);
            right: rem(15);
        }

        .division:nth-child(6) {
            margin: rem(40) rem(-50);

            &::after {
                opacity: 0;
            }
        }
    }

    &__help {
        display: flex;
        justify-content: space-between;
        min-width: 100%;
    }

    &__buttons {
        font-size: 0;
        padding-top: rem(8);

        *:not(:last-child) {
            margin-right: rem(18);
        }
    }

    &__remember {

        & input {
            display: none;
        }

        & label {
            position: relative;
            cursor: pointer;
        }

        & label:before {
            content: '';
            padding: rem(8);
            margin-right: rem(5);
            border-radius: rem(5);
            display: inline-block;
            border: rem(1) solid var(--gray);
            vertical-align: middle;
            position: relative;
        }

        & input:checked + label:after {
            content: '';
            min-width: rem(6);
            min-height: rem(10);
            transform: rotate(45deg);
            border: rem(1) solid var(--brand);
            border-width: 0 rem(2) rem(2) 0;
            position: absolute;
            top: rem(5);
            left: rem(6);
        }
    }

    &__social {
        font-size: 0;

        p {
            font-size: rem(14);
            color: var(--black);
        }

        a {
            padding: rem(15);
            border-radius: 50%;
            min-width: rem(50);
            min-height: rem(50);
            display: inline-block;
            margin-right: rem(30);
            background-color: var(--facebook);

            &:nth-child(3) {
                background-color: var(--orange);

                img {
                    max-width: rem(20);
                    min-height: rem(20);
                }
            }

            &:nth-child(4) {
                background-color: var(--pinterest);
                margin-right: 0;
            }

            img {
                min-width: rem(15);
                max-height: rem(17.5);
                transform: scale(1.5);
            }
        }
    }

    &__login {
        font-size: rem(14);

        .button {
            color: var(--brand);
            margin-left: rem(20);
            border-color: var(--brand);
        }
    }
}

.dropdown {
    position: relative;

    &:hover &__item {
        display: block;
    }

    &__item {
        display: none;
        background-color: var(--white);
        box-shadow: 0 rem(10) rem(20) var(--gray-dark);
        padding: rem(30) rem(30) rem(40);
        position: absolute;
        top: rem(40);
    }

    &__content,
    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        align-items: center;
    }

    &__list {
        min-width: rem(620);

        li:not(:last-child) {
            margin-bottom: rem(15);
        }
    }

    .title {
        color: var(--black);
        margin-bottom: 0;
    }

    .division {
        margin: rem(20) 0;
        background-color: var(--brand);

        &::after {
            opacity: 0;
        }
    }
}
