@use '../util' as *;

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.1;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

a:hover,
.button__transparent:hover {
    color: var(--brand);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: rem(196);

    &:not(.image--sm) img {
        flex-grow: 1;
    }
}

.text {
    display: block;
    text-align: left;
    padding: rem(20) rem(20) rem(15);
}

.title {
    font-size: rem(24);

    &--lg {
        font-weight: 400;
        font-size: rem(30);
        color: var(--brand);
    }
}

.subtitle {
    color: var(--brand);

    &--lg {
        font-size: rem(19);
    }
}

.division {
    margin: rem(40) 0;
    position: relative;
    max-height: rem(1);
    background-color: rgba(117, 117, 117, .1);

    &::after {
        content: 'or';
        padding: rem(5);
        background-color: #fff;
        position: relative;
        top: rem(-10);
    }
}
