@use '../util' as *;

.hero {
    background: url('../images/background.jpg') no-repeat 50% / cover;
    text-align: center;
    position: relative;
    color: var(--white);
    flex-grow: 1;

    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        line-height: 1.4;
        font-weight: 300;
        font-size: rem(50);
    }
}
