:root {
	--button: hsl(360, 100%, 69%);
	--client: hsl(26, 96%, 56%);
	--promo: hsl(264, 100%, 50%);
	--white: hsl(0, 0%, 100%);
	--copyright: hsl(0, 0%, 79%);
	--light-text: hsl(0, 0%,55%);
	--button-shadow: hsl(0, 0%, 44%);
	--dark-text: hsl(0, 0%,20%);
	--comment: hsl(0, 0%, 13%);
}
