:root {
	--tomato: hsl(360, 100%, 69%);
	--client: hsl(26, 96%, 56%);
	--graduation: hsl(34, 100%, 65%);
	--blue: hsl(213, 54%, 21%);
	--citizen: hsl(195, 100%, 65%);
	--promo: hsl(264, 100%, 50%);
	--brainstorm: hsl(250, 100%, 65%);
	--white: hsl(0, 0%, 100%);
	--copyright: hsl(0, 0%, 79%);
	--light-text: hsl(0, 0%,55%);
	--border: hsl(0, 0%, 44%);
	--dark-text: hsl(0, 0%,20%);
	--comment: hsl(0, 0%, 13%);
}
