@use '../util' as *;

.album {

    &__block {
        display: flex;

        @include breakpoint-down(large) {
            flex-direction: column;
        }

        &:first-child {

            .text {
                max-width: rem(385);
                margin-bottom: rem(32);
            }

            .image {
                background-image: url('../images/album-1.jpg');

                @include breakpoint-down(large) {
                    min-height: rem(600);
                }
    
                &::before {
                    background-color: rgba(25, 49, 75, .9);
                }
    
                &::after {
                    min-width: 80%;
                    min-height: rem(270);
                    background-image: url('../images/disk.png');
                }
            }
        }

        &:last-child {
            flex-direction: column;

            @include breakpoint(large) {
                flex-direction: row-reverse;
            }

            .text {
                max-width: rem(370);
            }

            .image {
                background-image: url('../images/album-2.jpg');

                @include breakpoint-down(large) {
                    min-height: rem(600);
                }
    
                &::before {
                    background-color: rgba(0, 0, 0, .3);
                }
            }
        }

        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            background: 50% / cover;
            position: relative;
            min-width: 50%;

            &::before {
                content: '';
                min-width: 100%;
                min-height: 100%;
                position: absolute;
            }

            &:hover {
                text-decoration: none;

                .fas { 
                    background-color: rgb(255, 0, 0, .8);
                }
            }

            .fas {
                position: relative;
                font-size: rem(40);
                border-radius: rem(20);
                padding: rem(20) rem(60);
                background-color: rgb(37, 37, 37, .8);
                color: var(--white);
            }
        }
    }

    &__content {
        padding: rem(110) rem(20);
        margin: 0 auto;

        @include breakpoint-down(large) {
            text-align: center;
        }
    }

    &__item {
        display: flex;
        justify-content: center;

        @include breakpoint(large) {
            display: block;
        }
    }
}
