@use '../util' as *;

.clip {
    position: relative;

    &__item {
        text-align: center;
        padding: rem(120) rem(60);
        background: linear-gradient(90deg, rgba(51,89,172,1) 0%, rgba(27,163,217,1) 100%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;

        @include breakpoint(large) {
            padding: rem(20) rem(80);
        }

        &:hover {
            background: linear-gradient(270deg, rgba(51,89,172,1) 0%, rgba(27,163,217,1) 100%);
            text-decoration: none;
        }

        * {
            color: var(--white);

            @include breakpoint-down(large) {
                font-size: rem(24);
            }
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;

        img {
            flex-grow: 1;
        }
    }
}
