@use '../util' as *;

.latest {
    margin-bottom: rem(200);

    &__content { 
        display: flex;
        flex-direction: column;
        text-align: center;
    
        @include breakpoint(large) {
            flex-direction: row;
            text-align: left;
        }

        img {
            width: 50%;
            margin: 0 auto rem(43);

            @include breakpoint(large) {
                margin: 0;
            }
        }

        &:first-child {
            margin-bottom: rem(100);
        }

        &:last-child {

            @include breakpoint(large) {
                flex-direction: row-reverse;
            }
        }
    }

    &__subtitle {
        font-size: rem(17);
        margin-bottom: rem(35);
        color: var(--light-text);

        &:nth-child(3) {
            margin-bottom: rem(75);
        }
    }
}