@use '../util' as *;

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: rem(57);

    @include breakpoint(large) {
        flex-direction: row;
    }

    &__info {
        margin-bottom: rem(135);
    }
    
    &__links {
        display: flex;
        flex-direction: column;
        margin-bottom: rem(57);

        @include breakpoint(large) {
            flex-direction: row;
            margin-top: rem(135);
        }

        .text {
            padding: rem(12) rem(37) rem(15) rem(22);
            background-color: var(--yellow);
            margin-bottom: rem(20);
            border-radius: rem(20);

            @include breakpoint(large) {
                margin: 0;

                &:not(:last-child) {
                    margin-right: rem(19);
                }
            }
        }
    }

    &__title {
        font-size: rem(30);
        color: var(--red);
        margin-bottom: rem(57);
    }

    &__subtitle {
        font-size: rem(22);
        max-width: rem(535);
    }

    &__cards {
        position: relative;
        margin: 0 auto;

        @include breakpoint(large) {
            margin-right: rem(135);
        }

        .card:nth-child(2) {

            @include breakpoint(large) {
                position: absolute;
                top: 35%;
                right: -75%;
                transform: translate(75%, -35%);
            }
        }
    
        .card {
            padding: rem(60) rem(28) rem(40);
            border-radius: rem(20);
            max-width: rem(211);
            position: relative;
            margin-bottom: rem(60);
        
            // Icon
            &__image {
                position: absolute;
                top: rem(-26);
                left: rem(-26);
                width: rem(62);
                height: rem(62);
                background-color: var(--red);
                border-radius: 50%;
        
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: var(--red);
                    border-radius: 50%;
                    width: rem(76);
                    height: rem(76);
                    opacity: .36;
                }
        
                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    fill: var(--white);
                }
            }
        
            &:hover {
                background: linear-gradient(0deg, rgba(235,82,56,1) 0%, rgba(235,111,56,1) 100%);
                box-shadow: rem(5) rem(5) rem(30) var(--red);
                color: var(--white);
        
                .card__image {
                    background-color: var(--white);
        
                    &::before {
                        background-color: var(--white);
                    }
        
                    svg {
                        fill: var(--text);
                    }
                }
            }
        
            // Text    
            &__link {
                position: relative;
                color: var(--white);
                padding-right: rem(53);
        
                &::after {
                    content: '';
                    position: absolute;
                    top: rem(2);
                    right: 0;
                    display: block;
                    width: rem(18);
                    height: rem(20);
                    background-image: url('../images/play.svg');
                }
            }
        }
    }
}