@use '../util' as *;

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include breakpoint(large) {
		flex-direction: row;
	}

	&__info {
		display: flex;
		align-items: center;
		flex-direction: column;

		@include breakpoint(large) {
			flex-direction: row;
		}

		p {
			margin-bottom: rem(36);

			@include breakpoint(large) {
				margin: 0;
			}
		}
	}

	a {
		display: block;
		margin-bottom: rem(20);

		@include breakpoint(large) {
			display: inline-block;
			margin: 0;
		}
	}

	a:not(:last-child) {
		margin-right: 0;

		@include breakpoint(large) {
			margin-right: rem(36);
		}
	}
}
