@use '../util' as *;

.header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(large) {
        flex-direction: row;
        margin-bottom: rem(84);
    }

    .logo::before {
        content: 'Where promises are kept';
        position: relative;
        display: block;
        height: rem(57);
        width: rem(283);
        text-align: center;
        color: var(--text);
        line-height: rem(52);
        margin-bottom: rem(20);
        background-image: url('../images/tagline.svg');

        @include breakpoint(large) {
            left: rem(-60);
        }
    }

    &__promise {
        margin-bottom: rem(20);

        @include breakpoint(large) {
            margin: 0;
        }
    }

    img {

        @include breakpoint(large) {
            margin: 0;
        }

        &:first-child {
            margin-bottom: rem(5);
        }
    
        &:last-child {
            margin-bottom: rem(20);
        }
    }
}
