@use '../util' as *;

.swiper {
    box-shadow: 0 rem(12) rem(68) var(--gray-dark);
    padding: rem(30) rem(70) rem(45);
    background-color: #fff;
    border-radius: rem(5);
    position: absolute;
    max-width: 100%;
    top: rem(-100);

    &-slide {
        text-align: center;
        transition: color .2s ease-in-out;

        img {
            max-width: 100%;
        }
    }

    &-button-prev,
    &-button-next {
        top: rem(22);
        width: rem(70);
        height: 100%;

        &::after {
            content: '';
        }
    }

    &-button-prev {
        left: 0;
        background: url('../images/arrow-left.svg') no-repeat 50%;
    }

    &-button-next {
        right: 0;
        background: url('../images/arrow-right.svg') no-repeat 50%;
    }
}
