@use '../util' as *;

h1,
h2,
h3,
ul,
p {
	margin: 0;
	padding: 0;
}

a,
a:visited,
a:active {
	text-decoration: none;
	display: inline-block;
	color: var(--aqua);
	max-height: 100%;
}

a:hover,
#click {
	cursor: url('../images/link.cur'), auto;
}
