@font-face {
	font-family: 'Cyberthrone';
	src: url('../app/fonts/cyberthrone.woff2');
}

:root {
	--font-body: 'Cyberthrone';
	--font-arial: Arial, sans-serif;
	--transition-min: .2s;
	--transition-max: 8s;
}
