@use '../util' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(25);
    padding-bottom: rem(25);

    @include breakpoint(medium) {
        padding-top: rem(50);
    }

    // === Hamburger ===
    &__toggle {

        @include breakpoint(large) {
            display: none;
        }

        > span {
            display: block;
            width: rem(26);
            height: rem(4);
            border-radius: rem(22.5);
            background-color: var(--white);
            transition: all 200ms ease-in-out;
            transform-origin: rem(.75) rem(1.75);
            
            &:not(:last-child) {
                margin-bottom: rem(5);
            }
        }
    }

    &.open {

        .header__toggle {

            > span:first-child {
                transform: rotate(45deg);
            }
    
            > span:nth-child(2) {
                opacity: 0;
            }
    
            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }
    // === / Hamburger ===

    // === Hamburger Menu ===
    &__menu {
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: var(--white);
        margin-top: rem(1.5);
        padding: rem(26);
        border-radius: rem(22.5);

        a {
            display: block;
            padding: rem(10);
            color: var(--dark-text);
            text-align: center;
        }
    }
    // === / Hamburger Menu ===

    // === Header Menu ===
    &__links {

        @include breakpoint-down(medium) {
            display: none;
        }

        a {
            font-size: rem(18);
            font-weight: 500;

            &:not(:last-child) {
                margin-right: rem(62);
            }
        }
    }
}
    // === / Header Menu ===