@font-face {
    font-family: 'Cyberthrone';
    src: url('../fonts/dist/Cyberthrone.woff2') format('woff2'),
        url('.../fonts/dist/CyberthroneRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}