@use '../util' as *;

// Section
.section {

	&__title {
		position: relative;
		font-size: rem(150);
		margin: rem(5) 0;
		transform: translate(0%, 0%);
		line-height: .8;

		&:before, &:after {
			content: 'codlipa';
			position: absolute;
			left: 0;
			opacity: .8;
		}
		
		&:after {
			color: var(--cherry);
			z-index: -2;
		} 
		
		&:before {
			color: var(--aqua);
			z-index: -1;
		}

		&:hover {
			&:before { animation: glitch var(--transition-min) cubic-bezier(.25, .46, .45, .94) infinite }

			&:after { animation: glitch var(--transition-min) cubic-bezier(.25, .46, .45, .94) infinite reverse }
		}
	}

	&__subtitle {
		font-size: rem(46);
		font-weight: 700;
		margin-bottom: rem(55);
		background-image: linear-gradient(var(--cherry), var(--aqua));
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}
}

@keyframes glitch {
	0% { transform: translate(0) }

	20% { transform: translate(rem(-5), rem(5)) }

	40% { transform: translate(rem(-5), rem(-5)) }

	60% { transform: translate(rem(5), rem(5)) }

	80% { transform: translate(rem(5), rem(-5)) }

	100% { transform: translate(0) }
}

// Hero
.hero {
	display: flex;
	align-items: flex-end;
	height: 100vh;

	&::before {
		content: '';
		position: relative;
		left: rem(0);
		bottom: rem(-40);
		min-height: rem(392);
		min-width: rem(738);
		background: url('../images/console.webp') 50% / contain;
	}

	&::after {
		content: '';
		position: absolute;
		left: 45%;
		bottom: rem(240);
		transform: scaleX(-1);
		min-width: rem(500);
		min-height: rem(425);
		background-image: url('../images/avatar.webp');
	}
}
