@use '../util' as *;

.container {
	padding: 0 rem(26);
	max-width: rem(1174);
	margin: 0 auto;

	@include breakpoint(large) {
		padding: 0;
		transform: translate(0, 0);
	}
}

.promo {
	background-image: url("../images/background.png");
	background-color: var(--promo);
	background-repeat: no-repeat;
	background-position: 50% -75%;
	// background-size: 250vh 65vh;
	background-size: 150vh;
	height: 100vh;

	@include breakpoint(medium) {
		background-position: 50% 100%;
		background-size: 250vh;
	}
}

button, .button {
	background-color: var(--button);
	box-shadow: 0 rem(1) 0 var(--button-shadow);
	border-radius: rem(22.5);
	padding-top: rem(9);
	padding-right: rem(32);
	padding-bottom: rem(12);
	padding-left: rem(32);

	@include breakpoint-down(medium) {
        display: none;
    }
}

// === Hamburger Fade ===
.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }

    99% {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}
// === / Hamburger Fade ===